LLVM/clang-tools-extra
LLVM/debuginfo-tests
LLVM/flang
LLVM/libc
LLVM/libclc
LLVM/lldb
LLVM/mlir
LLVM/parallel-libs
LLVM/polly
LLVM/pstl
LLVM/runtimes
LLVM/utils
LLVM/polly
LLVM/build
LLVM/build2
LLVM/build-debug
LLVM/build-asan
LLVM/libcxx-build/
LLVM/libcxxabi-build/
LLVM/libunwind-build/
LLVM/binutils/
LLVM/clang/
LLVM/compiler-rt/
LLVM/libcxx/
LLVM/libcxxabi/
LLVM/libunwind/
LLVM/lld/
LLVM/cross-project-tests
LLVM/llvm/
LLVM/openmp/
LLVM/.arcconfig
LLVM/.arclint
LLVM/.clang-format
LLVM/.clang-tidy
LLVM/.git-blame-ignore-revs
LLVM/.github/
LLVM/.gitignore
LLVM/CONTRIBUTING.md
LLVM/README.md
LLVM/SECURITY.md
.mailmap


LLVM/glibc-2.31
LLVM/libcxx-build-for-program/
LLVM/libcxxabi-build-for-program/
LLVM/libunwind-build-for-program/

environment.sh
environment_patched.sh

# intellij
.idea/

# porting
LLVM/9/

#testing
LLVM/sample.cpp
LLVM/tests/simple/.gdb_history
LLVM/tests/simple/a.out
LLVM/tests/simple/peda-session-a.out.txt
LLVM/tests/union/union.s

LLVM/reference/
LLVM/cfi/
.vscode/settings.json
vtype_epfl.code-workspac.code-workspace
example/a.out
test/getstr/a.out

.gdb_history
*.code-workspace
*/a.out
*/vtype.out
a.out

# phoronix
phoronix/results
test/object.ll
test/out.ll
test/out.txt
test/pointer.ll
test/source.lldb
test/uninitialized.asm
test/uninitialized.ll
test/uninitialized.out
test/uninitialized.stripped.asm
test/uninitialized.txt
test/missing-libc-cov.s
test/missing_libc.asm
test/initialized.out
test/initialized.asm
test/initialized.stripped.asm
test/run_base_refrate_mytest-m64.0000
.vscode/

wss/
CMake/
jsoncpp/
__pycache__
*.swp

chromium/automated
chromium/merged_old
chromium/tmp
chromium/chromium
wss/

LLVM/.cache
chromium/merged_old
2022*
!open-issues/*
cpu2006-1.2.iso
cpu2017-1.1.8.iso

v8/v8
v8/.gclient*
v8/.cipd
